<div class="task-container">
<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="space-between" class="content-layout">
  <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="30px">
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
        <app-button backgroundColor="#007FFF" text="Increase" color="white" (btnClick)="addFunction()"></app-button>
        <app-button backgroundColor="#007FFF" text="Decrease" color="white" (btnClick)="subtractFunction()"></app-button>
    </div>
    <div>
      <h1>Toggler</h1>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="30px">
    <div>
    <h1>{{value}}</h1>
    </div>
    <div>
    <h1>Counter</h1>
    </div>
  </div>
</div>
</div>