/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.task-container{
    max-width: 500px;
    margin: 30px auto;
    border: 1px solid steelblue;
    border-radius: 5px;
    min-height: 300px;
    padding: 30px;
}
.content-layout{
    margin-top: 40px;
}

